# Needed libraries:

import smtplib

import time

import threading

import logging

import validators

import os

from email.mime.text import MIMEText

from email.mime.multipart import MIMEMultipart

from datetime import datetime, timedelta

from dotenv import load_dotenv

from queue import PriorityQueue
